.container {
  display: flex;
  height: 100%;
  font-family: "Rubik", sans-serif;
   color: #0B2856;
}
.intro-user-select-container,
.display-user-container {
  //border: 1px solid red;
  width: 50%;
  display: flex;
}
.intro-user-select-container {
  align-items: center;
  justify-content: center;

}

.display-user-container {
  padding: 10px 10px 20px 35px;
  //justify-content: flex-end;
}
.display-user-content {
  background-color: rgba(222, 232, 241, 1);
  border-radius: 31px;
  width: 95%;
  padding: 30px 50px 30px 30px;
}

.intro-user-content {
  font-size: 12px;
}
.user-type{
  font-size: 1.35rem;
  font-weight: 500;
}
.header {
  &-one {
    font-size: 35px;
  }
}
.user-select {
  margin-top: 70px;
  &-card{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 7px;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    img{
      margin-right: 10px;
    }
  }
  .card1 {
    margin-top: 7px;
    background-color: #84573b;
    img{
      width: 9%;
    }
  }
  .card2 {
    background-color: #d25288;
     img{
      width: 5%;
    }
  }
  .card3 {
    background-color: #335aa3;
      img{
      width: 7%;
    }
  }
}

.search-toggle-user,.search{
 display: flex;
}
.search-toggle-user{
  margin-top: 15px;
  justify-content: space-between;

  .search{
     background-color: #F7F8FD;
    width: 50%;
    padding: 12px;
    //border: 1px solid red;
    border-radius: 9px;
    input{
      width: 100%;
      margin-left: 7px;
      outline: none;
      border: none;
      color: #0B2856;
      background-color: #F7F8FD;
    }
  }
  .toggle-user{
        border: 1px solid red;
  }
}


.custom-pagination .page-number{
    display: inline-block;
    /* padding: 5px 12px; */
    background: #afffe6;
    margin: 0px 4px;
    border-radius: 25px;
}

.page-number span{
    display: block;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
}

.pagination-previous,.pagination-next{
    display: inline-block;
    font-weight: bold;
}
