.container {
  display: flex;
  height: 100%;
  font-family: "Rubik", sans-serif;
  color: #0b2856;
}
.intro-user-select-container,
.display-user-container {
  width: 50%;
  display: flex;
}
.intro-user-select-container {
  align-items: center;
  justify-content: center;
}

.display-user-container {
  padding: 10px 10px 20px 35px;
}
.display-user-content {
  background-color: rgba(222, 232, 241, 1);
  border-radius: 31px;
  width: 95%;
  padding: 30px 50px 30px 30px;
}

.intro-user-content {
  font-size: 12px;
}

.header {
  &-one {
    font-size: 35px;
  }
}
.user-select {
  margin-top: 70px;
  &-card {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 7px;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
  }
  .card1 {
    margin-top: 7px;
    background-color: #84573b;
    img {
      width: 9%;
    }
  }
  .card2 {
    background-color: #d25288;
    img {
      width: 5%;
    }
  }
  .card3 {
    background-color: #335aa3;
    img {
      width: 7%;
    }
  }
}

